<%- include('partials/header') %> 
<div style="padding: 20px;">
<h1><%= dynamicPost.title %> </h1>
<hr style="color: gray;margin: 5px;">
<p><%= dynamicPost.content %> </p>
</div>
<%- include('partials/footer') %> 